* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --color-brands: #d90368;
  --font-base: "Roboto", sans-serif;
}

body {
  font-family: var(--font-base);
}

header {
  min-height: 9vh;
}

footer {
  min-height: 10vh;
}

main {
  min-height: 81vh;
}

.color-button {
  background-color: var(--color-brands);
}

.navbar-image {
  max-width: 15.6rem;
  max-height: 3.2rem;
}

.nav-color {
  background-color: var(--color-brands);
  padding: 0.2rem 1.8rem;
}

.carousel-title {
  letter-spacing: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-image {
  max-height: 25vh;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 25vh;
  object-fit: cover;
}
.card-items {
  width: 20rem;
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #ffe6c5 0,
    #ffe7c3 6.25%,
    #fce9c3 12.5%,
    #f7ebc3 18.75%,
    #f1ecc3 25%,
    #ebeec5 31.25%,
    #e6efc7 37.5%,
    #e0f1ca 43.75%,
    #daf2cd 50%,
    #d4f3d1 56.25%,
    #cff4d5 62.5%,
    #c9f5da 68.75%,
    #c5f6df 75%,
    #c0f6e4 81.25%,
    #bcf6e9 87.5%,
    #b9f7ee 93.75%,
    #b7f7f3 100%
  );
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--color-brands);
}

.status {
  background-color: rgba(0, 0, 0, 0.6);
  
}

.btn-primary:hover {
  background-color: var(--color-brands);
  border: none;
}

/* FOOTER */
.footer {
  color: var(--color-brands);
}

.footer__icons {
  color: var(--color-brands);
  font-size: 2rem;
}

.autor {
  font-size: 0.8rem;
}

.size-image {
  max-height: 24rem;
  object-fit: cover;
}
